{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

    <h1 align="center">Chat</h1>
    <ul class="list-group list-group-flush" id="notes">
        {% for message in chat.messages %}
            <li class="list-group list-group-item">
                {{ message.message_data }}
            </li>
        {% endfor %}
    </ul>
    <form method="POST">
        <label for="note"></label><textarea name="message" id="message" class="form-control"></textarea>
        <br/>
        <div align="center">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>

{% endblock %}