{% extends "base.html" %}
{% block title %}Find Friends{% endblock %}

{% block content %}

    <h1>Find Friends</h1>
    <ul class="list-group list-group-flush" id="notes">
        {% for user_c in users %}
            {% if user_c.id != user.id %}
                <li class="list-group list-group-item">
                    <form method="POST">
                    {{ user_c.name }}
                        <button type="submit" class="btn btn-secondary">add friend</button>
                    </form>
                </li>

            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}